<section class="hero is-success is-fullheight is-bold has-background">
    <div class="hero-body">
        <div class="container" id="title">
            <h1 class="title">Another One Bites the Burger</h1>
            <h3 class="subtitle">We love 80s music...and so do our burgers.</h3>
            <a class="button is-warning is-rounded">Ooh, baby baby. Come on in.</a>
        </div>
        <img class="hero-background" src="assets/images/musicBurger.jpg"
            alt="Hamburger Dancing with Headphones and Music Player On" id="dancingBurger" />
    </div>
</section>