#addburger {
  margin-left: 350px;
  background-color: #31D1B2;
  color: white;
  font-weight: bold;
}

#panel {
  text-align: center;
}

.title,
.subtitle {
  margin-left: 50px;
  text-align: justify;
}

.input {
  margin-top: 20px;
  width: 75%;
  margin-left: 100px;
}

#dancingBurger {
  float: right;
  margin-right: 150px;
  max-height: 500px;
  height: 70%;
  width: 400px;
}

::placeholder {
  text-align: center;
}