#addburger {
  margin-left: 350px;
}

#panel {
  text-align: center;
}

.title,
.subtitle {
  margin-left: 50px;
  text-align: justify;
}

#dancingBurger {
  float: right;
  margin-right: 150px;
  max-height: 500px;
  height: 70%;
  width: 400px;
}

::placeholder {
  text-align: center;
}