@font-face {
  font-family: "Neon80s";
  src: url("indieground_neon_80s/Neon.ttf");
}

#addburger {
  margin-left: 400px;
  background-color: #3EC164;
  color: white;
  font-weight: bold;
}

.hero.has-background {
    position: relative;
    overflow: hidden;
}

.hero-background {
    position: absolute;
    left: 0px;
    object-fit: cover;
    object-position: center center;
    width: 50%;
    height: 100%;
}

#panel {
  text-align: center;
}

.title {
  font-family: Neon80s;
  font-size: 35px;
  font-weight: bold;
  text-align: right;
  padding-right: 20px;
}

.subtitle {
  font-family: Neon80s;
  font-size: 25px;
  text-align: right;
  padding-right: 20px;
}

.input {
  margin-top: 20px;
  width: 75%;
  margin-left: 100px;
}

::placeholder {
  text-align: center;
}